#headerContainer {
	height: 43px;
	width: 1010px;
	background-color: #fff;
	background-image: url("resources/topBar.png");
	font-family: "Arial", "Helvetica", sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #6b6b6b;
}
body.mobile #headerContainer *{
	visibility: hidden;
}
#contentFrame {
	height: 600px;
	width: 1010px;
	background-color: #fff;  
	background-image: url("resources/bg_repeater.png");
	background-repeat: repeat-y;
}
.dkiContentFrame{
	background-image: url("resources/background.png");
	background-repeat: no-repeat
}
.online #footerContainer {
	height: 60px;
	width: 1010px;
	background-image: url("resources/bottomBar.png");
	font-family: "Arial", "Helvetica", sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #6b6b6b;
}
.online #westPanel #menu {
	background-color: #fff;
	top: 53px;
	height: 580px;
}
.online #westPanel #menuTabs {
  background-color: #eee;
  border-bottom-color: #bbb;
}
.online #westPanel #menuTabs li.selected {
  background-color: #e6e6e6;
  border-color: #bbb;
  border-bottom-color: #f4f5f6;
}
.endScreen {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #6b6b6b;
  padding-top: 40px;
}
.endScreen #endMod_header,
.endScreen #endCourse_header,
.endScreen #endTest_header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.endScreen #endMod_moduleName,
.endScreen #endCourse_courseName,
.endScreen #endTest_moduleName {
  color: #004363;
}
.endScreen .dki-themeTextColor {
  color: #004363;
}
.endScreen #endMod_status,
.endScreen #endCourse_status,
.endScreen #endTest_status {
  background-color: #fff;
  border: 1px solid #bcbdc0;
  box-shadow: 3px 3px 5px #999;
  -moz-box-shadow: 3px 3px 5px #999;
  -webkit-box-shadow: 3px 3px 5px #999;
  margin-bottom: 10px;
}
.endScreen #endMod_status .dki-lineitem,
.endScreen #endCourse_status .dki-lineitem,
.endScreen #endTest_status .dki-lineitem {
  color: #505050;
}
.endScreen #endMod_actions a,
.endScreen #endCourse_actions a,
.endScreen #endTest_actions a,
.endScreen #endMod_actions a.disabled,
.endScreen #endCourse_actions a.disabled,
.endScreen #endTest_actions a.disabled,
.endScreen #endMod_actions a.disabled:hover,
.endScreen #endCourse_actions a.disabled:hover,
.endScreen #endTest_actions a.disabled:hover,
.endScreen #endMod_actions a.disabled.active,
.endScreen #endCourse_actions a.disabled.active,
.endScreen #endTest_actions a.disabled.active {
  background-color: #004363;
  color: #fff;
  text-shadow: 0 -1px 1px #333;
  box-shadow: 3px 3px 5px #999;
  -moz-box-shadow: 3px 3px 5px #999;
  -webkit-box-shadow: 3px 3px 5px #999;
}
.endScreen #endMod_actions a:hover,
.endScreen #endCourse_actions a:hover,
.endScreen #endTest_actions a:hover {
  background-color: #4991a9;
}
.endScreen #endScreen .dki-title {
  color: #fff;
}
.endScreen #endScreen .dki-lineitem {
  font-size: 14px;
  font-weight: normal;
  color: #505050;
}
.endScreen #endScreen .dki-lineitem .dki-modTitle {
  font-weight: bold;
}
.endScreen #endScreen .dki-lineitem .dki-modBtn {
  padding: 6px 20px;
  font-weight: bold;
  background-color: #004363;
  box-shadow: none;
}
.endScreen #endScreen .dki-lineitem .dki-modBtn:hover {
  background-color: #4991a9;
}
/* Info */
#info {
  position: absolute;
  width: auto;
  height: auto;
  padding: 0;
  top: -635px;
  left: 20px;
  color: #505050;
}
#info #moduleName {
  font-size: 18px;
}
#info #objectName {
  font-weight: normal;
}
/* Button styles */
.navButtonContainer {
  margin-right: 15px;
}
#navButtons {
  width: 130px;
  display: inline;
}
#navButtons #screenCount {
	
}
#navButtons #screenCount {
  position: absolute;
  top: 40px;
  left: -475px;
  width: auto;
  height: auto;
  font-size: 11px;
  text-align: left;
  font-weight: bold;
  color: #000; 
}
#headerContainer .navButton,
#footerContainer .navButton {
  display: inline-block;
  width: 59px;
  height: 32px;
  padding: 0;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-image: url("resources/button_sprites.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/button_sprites.png');
}
#footerContainer .navButton {
	top: 28px;
}
#headerContainer .navButton .button-left,
#footerContainer .navButton .button-left,
#headerContainer .navButton .button-right,
#footerContainer .navButton .button-right,
#headerContainer .navButton .button-middle,
#footerContainer .navButton .button-middle,
#headerContainer .navButton .button-label,
#footerContainer .navButton .button-label {
  display: none;
}
#audioButton {
  background-position: 0px -128px;
}
#audioButton:hover {
  background-position: -59px 0px;
}
#audioButton:active {
  background-position: 0px -96px;
}
#audioButton.muted {
  background-position: 0px -32px;
}
#audioButton.muted:hover {
  background-position: 0px -64px;
}
#audioButton.muted:active {
  background-position: 0px 0px;
}
#exitButton {
  background-position: -118px 0px;
}
#exitButton:hover {
  background-position: -118px -32px;
}
#exitButton:active {
  background-position: -59px -128px;
}
#menuButton {
  background-position: -177px -32px;
}
#menuButton:hover {
  background-position: -177px -64px;
}
#menuButton:active {
  background-position: -177px 0px;
}
#forwardButton {
  background-position: -177px -128px;
}
#forwardButton:hover {
  background-position: -236px 0px;
}
#forwardButton:active {
  background-position: -177px -96px;
}
#backButton {
  background-position: -295px 0px;
}
#backButton:hover {
  background-position: -354px 0px;
}
#backButton:active {
  background-position: -236px -32px;
}
html.rtl #backButton {
  background-position: -177px -128px;
}
html.rtl #backButton:hover {
  background-position: -236px 0px;
}
html.rtl #backButton:active {
  background-position: -177px -96px;
}
html.rtl #forwardButton {
  background-position: -295px 0px;
}
html.rtl #forwardButton:hover {
  background-position: -354px 0px;
}
html.rtl #forwardButton:active {
  background-position: -236px -32px;
}
#replayButton {
  background-position: -354px -32px;
}
#replayButton:hover {
  background-position: -236px -64px;
}
#replayButton:active {
  background-position: -295px -32px;
}
#transcriptButton {
  background-position: -295px -96px;
}
#transcriptButton:hover {
  background-position: -354px -96px;
}
#transcriptButton:active {
  background-position: -354px -64px;
}
.mobile #glossaryButton {
  display:block;
  background-position: -118px -64px;
}
.mobile #glossaryButton:hover {
  background-position: -118px -96px;
}
.mobile #glossaryButton:active {
  background-position: -118px -32px;
}
#glossaryButton {
  display:block;
  background-position: -118px -96px;
}
#glossaryButton:hover {
  background-position: -118px -128px;
}
#glossaryButton:active {
  background-position: -118px -64px;
}
#resourceButton {
  display:block;
  background-position: -236px -128px;
}
#resourceButton:hover {
  background-position: -295px -64px;
}
#resourceButton:active {
  background-position: -236px -96px;
}
/* Mobile */

.mobile #resourceButton {
  display:block;
  background-position: -295px -96px;
}
.mobile #resourceButton:hover {
   background-position: -354px -32px;
}
.mobile #resourceButton:active {
  background-position: -295px -64px;
}

.mobile #headerContainer .navButton {
  margin-right: 5px;
  margin-left: 0;
  color: #6b6b6b;
}
.mobile #headerContainer #listButton {
  display: none;
}
.mobile #headerContainer #backButton,
.mobile #headerContainer #forwardButton {
  width: 59px;
  height: 32px;
  background-image: url("resources/mobile_buttons.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/mobile_buttons.png');
}
.mobile #headerContainer #backButton span,
.mobile #headerContainer #forwardButton span {
  display: none;
}
.mobile #headerContainer #forwardButton {
  background-position: -236px 0px;
}
.mobile #headerContainer #forwardButton:hover {
  background-position: -236px -32px;
}
.mobile #headerContainer #forwardButton:active {
  background-position: -177px -96px;
}
.mobile #headerContainer #backButton {
  background-position: -236px -96px;
}
.mobile #headerContainer #backButton:hover {
  background-position: -295px 0px;
}
.mobile #headerContainer #backButton:active {
  background-position: -236px -64px;
}

html.rtl .mobile #headerContainer #backButton {
  background-position: -236px 0px;
}
html.rtl .mobile #headerContainer #backButton:hover {
  background-position: -236px -32px;
}
html.rtl .mobile #headerContainer #backButton:active {
  background-position: -177px -96px;
}
html.rtl .mobile #headerContainer #forwardButton {
  background-position: -236px -96px;
}
html.rtl .mobile #headerContainer #forwardButton:hover {
  background-position: -295px 0px;
}
html.rtl .mobile #headerContainer #forwardButton:active {
  background-position: -236px -64px;
}



.mobile #moreButtons .navButton {
  padding-right: 0;
}
.mobile #moreButtons #exitButton .button-middle,
.mobile #moreButtons #menuButton .button-middle {
  width: 50px;
  text-align: center;
}
.mobile #moreButtons #dropdownButton {
  background-position: -59px -64px;
}
.mobile #moreButtons #dropdownButton:hover {
  background-position: -59px -96px;
}
.mobile #moreButtons #dropdownButton:active {
  background-position: -59px -32px;
}
.mobile #moreButtons #dropdownButton .button-middle {
  top: 0px;
}
.mobile #moreButtons #dropdownButton .button-label {
  width: 21px;
  height: 30px;
}
.mobile #dropdown {
  position: absolute;
  top: 36px;
  left: 136px;
  z-index: 1000000;
  border: 1px solid #707070;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#c1c1c1));
  background-image: -webkit-linear-gradient(top, #e8e8e8, #c1c1c1);
  background-image: -moz-linear-gradient(top, #e8e8e8, #c1c1c1);
  background-image: -ms-linear-gradient(top, #e8e8e8, #c1c1c1);
  background-image: -o-linear-gradient(top, #e8e8e8, #c1c1c1);
  background-image: linear-gradient(to bottom, #e8e8e8, #c1c1c1);
  box-shadow: 3px 3px 8px #888f8f;
  -moz-box-shadow: 3px 3px 8px #888f8f;
  -webkit-box-shadow: 3px 3px 8px #888f8f;
}
.mobile #dropdown.hidden {
  display: none;
}
.mobile #dropdown .dropdown-button {
  display: block;
  margin: 5px 5px 0px 5px;
  height: 32px;
  width: 59px;
  cursor: pointer;
  background-image: url("resources/mobile_buttons.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/mobile_buttons.png');
}
.mobile #dropdown .dropdown-button .button-left,
.mobile #dropdown .dropdown-button .button-middle,
.mobile #dropdown .dropdown-button .button-right {
  display: none;
}
.mobile #dropdown .dropdown-button.last {
  margin-bottom: 5px;
}
.mobile #dropdown #audioButton {
  background-position: -59px 0px;
}
.mobile #dropdown #audioButton:hover {
  background-position: -59px -32px;
}
.mobile #dropdown #audioButton:active {
  background-position: 0px -96px;
}
.mobile #dropdown #audioButton.muted {
  background-position: 0px -32px;
}
.mobile #dropdown #audioButton.muted:hover {
  background-position: 0px -64px;
}
.mobile #dropdown #audioButton.muted:active {
  background-position: 0px 0px;
}
.mobile #dropdown #replayButton {
  background-position: -413px 0px;
}
.mobile #dropdown #replayButton:hover {
  background-position: -295px -32px;
}
.mobile #dropdown #replayButton:active {
  background-position: -354px 0px;
}
.mobile #dropdown #transcriptButton {
  background-position: -354px -64px;
}
.mobile #dropdown #transcriptButton:hover {
  background-position: -354px -96px;
}
.mobile #dropdown #transcriptButton:active {
  background-position: -413px -32px;
}
.mobile #screenCount {
  top: -7px;
  left: 557px;
  font-size: 11px;
  text-align: left;
  color: #000;
}
/* Progress Bar */
#progressBar {
  background-image: url("resources/playerControls_middle.png");
  background-repeat: repeat-x;
  height: 13px;
  display:inline-block;
  position: relative;
  margin-left: 20px;
  padding-left: 1px;
  width: 33%;
  overflow:hidden;
  top:-5px;
}

#progressBar div {
  float:left;
  position:relative;
  top: 2px;
  height: 13px;
}
#progressBar div.tickContainer {
  position:absolute;
  width:100%;
}
#progressBar div.tick {
  border-right: 1px solid black;
  top: 0px;
  height: 9px;
  background-image: url("resources/playerControls_scrubber.png");
  background-repeat: repeat-x;
}

div.certificate #certificate_print {
  top:20px;
  right: 30px;
}

div.certificate #certificate_date {
  left:30px;
}


